<p>Tell us a little bit about yourself by adding a {{link-to "New Contact" "new_contact" class='btn btn-primary header-btn'}}.</p>

<div>
  <article>
    {{#each}}
    <div class='wrapper'>
      <h2>{{firstname}} {{lastname}}</h2>
      <h3>{{birthdate}}</h3>
      <p class='text-output'>{{address}}</p>
      <h3>{{phone}}</h3>
      <h3>{{email}}</h3>
      <h3>{{webaddress}}</h3>
      <h3>{{firstnameSpouse}} {{lastnameSpouse}}</h3>
      <h3>{{birthdateSpouse}}</h3>
      <h3>{{anniversary}}</h3>
      <h3>{{firstnameChild1}}{{lastnameChild1}}{{birthdateChild1}}</h3>
      <h3>{{firstnameChild2}}{{lastnameChild2}}{{birthdateChild2}}</h3>
      <h3>{{firstnameChild3}}{{lastnameChild3}}{{birthdateChild3}}</h3>
      <h3>{{firstnameChild4}}{{lastnameChild4}}{{birthdateChild4}}</h3>
      <h3>{{firstnameChild1}}{{lastnameChild1}}{{birthdateChild1}}</h3>
      <div><img {{bind-attr src=familyphoto}} /></div>
    </div>
    {{/each}}
  </article>
</div>
