<p>Tell us a little bit about yourself by adding a {{link-to "New Contact" "new_contact" class='btn btn-primary header-btn'}}.</p>

<article>
  <h2 class="section-title">Contacts</h2>
  {{#each}}
  <div class='wrapper'>
    <h2 class='entry-title'>{{firstname}} {{lastname}}</h2>
    <h2 class='entry-title'>{{firstnameSpouse}} {{lastnameSpouse}}</h3>
    <p class='text-output'>{{address}}</p>
    <h3 class="contact-info">{{phone}}</h3>
    <h3 class="contact-info">{{email}}</h3>
    <h3 class="contact-info">{{webaddress}}</h3>
    <h3 class="contact-info">{{firstnameChild1}} {{lastnameChild1}}</h3>
    <h3 class="contact-info">{{firstnameChild2}} {{lastnameChild2}}</h3>
    <h3 class="contact-info">{{firstnameChild3}} {{lastnameChild3}}</h3>
    <h3 class="contact-info">{{firstnameChild4}} {{lastnameChild4}}</h3>
    <div><img {{bind-attr src=familyphoto}} /></div>

    <h3>{{link-to 'Edit' 'edit_contact' this class='edit-link' classNames='btn btn-default'}}</h3>
  </div>
  {{/each}}
</article>
