<p>Tell us a little about yourself.</p>

<div>
  <article>
  <form role="form">
     <div class="form-group">
       <label for='firstname'>First Name:</label>
       {{input type='text' value=firstname id='firstname' class='form-control'}}
     </div>
     <div class="form-group">
       <label for='lastname'>Last Name:</label>
       {{input type='text' value=lastname id='lastname' class='form-control'}}
     </div>
     <div class="form-group">
       <label for='birthdate'>Birthdate:</label>
       {{input type='date' value=birthdate id='birthdate' class='form-control'}}
     </div>
     <div class="form-group">
       <label for='address'>Address:</label>
       {{input type='text' value=address id='address' class='form-control'}}
     </div>
     <div class="form-group">
       <label for='phone'>Phone:</label>
       {{input type='tel' value=telephone id='telephone' class='form-control'}}
     </div>
    <div class ="form-group">
      <label for='email'>Email:</label>
       {{input type='email' value=email id='email' class='form-control'}}
    </div>
    <div class ="form-group">
      <label for='webaddress'>Web Address:</label>
       {{input type='text' value=webaddress id='webaddress' class='form-control'}}
    </div>
    <div class="form-group">
       <label for='spouse'>Are you currently married?:</label>
       {{view "select" value=spouse content=Rs.FORMWIZARD optionValuePath="content.id" optionLabelPath="content.name" classNames='form-control'}}
    </div>
    <div class="form-group">
       <label for='children'>Do you have children in your household?:</label>
       {{view "select" value=children content=Rs.FORMWIZARD optionValuePath="content.id" optionLabelPath="content.name" classNames='form-control'}}
    </div>
    <button class='btn btn-primary' {{action 'save'}}>Add Contact Info</button>
  </form>
  </article>
</div>
