<p>Tell us a little bit about yourself by adding a {{link-to "New Contact" "new_contact" class='btn btn-primary header-btn'}}.</p>

<div>
  <article>
    {{#each}}
    <div class='wrapper'>
      <h2 class='entry-title'>{{firstname}} {{lastname}}</h2>
      <h3>Birthday: {{birthdate}}</h3>
      <p class='text-output'>{{address}}</p>
      <h3>Phone: {{phone}}</h3>
      <h3>Email: {{email}}</h3>
      <h3>Web: {{webaddress}}</h3>
      <h3>Spouse: {{firstnameSpouse}} {{lastnameSpouse}}</h3>
      <h3>Birthday: {{birthdateSpouse}}</h3>
      <h3>Anniversary: {{anniversary}}</h3>
      <h3>Children:</h3>
      <h3>{{firstnameChild1}}{{lastnameChild1}}{{birthdateChild1}}</h3>
      <h3>{{firstnameChild2}}{{lastnameChild2}}{{birthdateChild2}}</h3>
      <h3>{{firstnameChild3}}{{lastnameChild3}}{{birthdateChild3}}</h3>
      <h3>{{firstnameChild4}}{{lastnameChild4}}{{birthdateChild4}}</h3>
      <h3>{{firstnameChild1}}{{lastnameChild1}}{{birthdateChild1}}</h3>
      <div><img {{bind-attr src=familyphoto}} /></div>
    </div>
    <h3>{{link-to 'Edit' 'edit_contact' this class='edit-link' classNames='btn btn-primary'}}</h3>

    {{/each}}
  </article>
</div>
