<p>Forgot an ingredient? Sneak it in here.</p>

<article>
  <form role="form">
     <div class="form-group">
       <label for='recipeName'>Recipe Name:</label>
       {{input type='text' value=recipeName id='recipeName' class='form-control'}}
     </div>
     <div class="form-group">
       <label for='contributor'>Contributor:</label>
       {{input type='text' value=contributor id='contributor' class='form-control'}}
     </div>
     <div class="form-group">
       <label for='imageURL'>Image (URL):</label>
       {{input type='text' value=imageURL id='imageURL' class='form-control'}}
     </div>
     <div class="form-group">
      <label for='ingredients'>Ingredients:</label>
       {{input type='text' value=ingredients id='ingredients' class='form-control'}}
     </div>
     <div class ="form-group">
       <label for='directions'>Directions:</label>
       {{input type='text' value=directions id='directions' class='form-control'}}
     </div>

    <button {{action 'update'}} class='btn btn-primary'>Update Recipe</button>
    <button {{action 'destroy'}} class='btn btn-danger'>Delete Recipe</button>
  </form>
</article>
