<p>Let's all get together! Share a family event.</p>

<div>
  <article>
  <h2>{{title}}</h2>
  <h3>{{date}}</h3>
  <h3>{{time}}</h3>
    <p class='text-output'>{{post}}</p>
  {{link-to "New Event" "new_event" class='btn btn-primary'}}
  </article>
</div>
