<p>This is the place for new or old family recipes.</p>

<article>
  <form role="form">
     <div class="form-group">
       <label for='recipeName'>Recipe Name:</label>
       {{input type='text' value=recipeName id='recipeName' class='form-control'}}
     </div>
     <div class="form-group">
        <label for='contributor'>Submitted by:</label>
        {{input type='text' value=contributor id='contributor' class='form-control'}}
     </div>
     <div class="form-group">
       <label for='imageURL'>Image (URL):</label>
       {{input type='text' value=imageURL id='imageURL' class='form-control'}}
     </div>
    <div class="form-group">
      <label for='ingredients'>Ingredients:</label>
       {{input type='text' value=ingredients id='ingredients' class='form-control'}}
    </div>
    <div class ="form-group">
    <label for='directions'>Directions:</label>
       {{input type='text' value=directions id='directions' class='form-control'}}
    </div>

    <button class='btn btn-primary' {{action 'save'}}>Add Recipe</button>
  </form>
</article>
