<p>Step 1. Tell us a little bit about yourself.</p>

<div>
  <article>
  <form role="form">
     <div class="form-group-contacts">
       <label for='firstname'>First Name:</label>
       {{input type='text' value=firstname id='firstname' classNames='form-control fullname'}}
       <label for='lastname'>Last Name:</label>
       {{input type='text' value=lastname id='lastname' classNames='form-control fullname'}}
     </div>

     <div class="form-group-contacts">
       <label for='birthdate'>Birthdate:</label>
       {{input type='date' value=birthdate id='birthdate' classNames='form-control birthday'}}
     </div>

     <div class="form-group-contacts">
       <label for='address'>Address:</label>
       {{textarea value=address id='address' classNames='form-control mailingaddress' rows='5'}}
     </div>

     <div class="form-group-contacts">
       <label for='phone'>Phone:</label>
       {{input type='tel' value=phone id='phone' classNames='form-control contact-methods'}}
      <label for='email'>Email:</label>
       {{input type='email' value=email id='email' classNames='form-control contact-methods'}}
    </div>

    <div class ="form-group-contacts">
      <label for='webaddress'>Web Address:</label>
       {{input type='text' value=webaddress id='webaddress' classNames='form-control weblinks'}}
      <label for='familyphoto'>Link to Photo:</label>
       {{input type='text' value=familyphoto id='familyphoto' classNames='form-control weblinks'}}
    </div>

    <div class="form-group-contacts">
       <label for='spouse'>Are you currently married?:</label>
       {{view "select" value=spouse content=Rs.FORMWIZARD optionValuePath="content.id" optionLabelPath="content.name" classNames='form-control statuses'}}
       <label for='children'>Do you have children in your household?:</label>
       {{view "select" value=children content=Rs.FORMWIZARD optionValuePath="content.id" optionLabelPath="content.name" classNames='form-control statuses'}}
    </div>

    <div class ="form-group-contacts">
      <label for='firstnameSpouse'>Spouse's First Name:</label>
       {{input type='text' value=firstnameSpouse id='firstnameSpouse' classNames='form-control fullname'}}
      <label for='lastnameSpouse'>Last Name:</label>
       {{input type='text' value=lastnameSpouse id='lastnameSpouse' classNames='form-control fullname'}}
    </div>

    <div class ="form-group-contacts">
      <label for='birthdateSpouse'>Spouse's Birthdate:</label>
       {{input type='date' value=birthdateSpouse id='birthdateSpouse' classNames='form-control birthday'}}
      <label for='anniversary'>Anniversary:</label>
       {{input type='date' value=anniversary id='anniversary' classNames='form-control birthday'}}
    </div>

    <div class ="form-group-contacts">
      <label for='firstnameChild1'>Child's First Name:</label>
       {{input type='text' value=firstnameChild1 id='firstnameChild1' class='form-control child-info'}}
    <label for='lastnameChild1'>Last Name:</label>
     {{input type='text' value=lastnameChild1 id='lastnameChild1' class='form-control child-info'}}
     <label for='birthdateChild1'>Birthdate:</label>
      {{input type='date' value=birthdateChild1 id='birthdateChild1' class='form-control childbirthdate'}}
    </div>

    <div class ="form-group-contacts">
    <label for='firstnameChild2'>Child's First Name:</label>
     {{input type='text' value=firstnameChild2 id='firstnameChild2' class='form-control child-info'}}
     <label for='lastnameChild2'>Last Name:</label>
      {{input type='text' value=lastnameChild2 id='lastnameChild2' class='form-control child-info'}}
     <label for='birthdateChild2'>Birthdate:</label>
      {{input type='date' value=birthdateChild2 id='birthdateChild2' class='form-control childbirthdate'}}
    </div>

    <div class ="form-group-contacts">
    <label for='firstnameChild3'>Child's First Name:</label>
     {{input type='text' value=firstnameChild3 id='firstnameChild3' class='form-control child-info'}}
     <label for='lastnameChild3'>Last Name:</label>
      {{input type='text' value=lastnameChild3 id='lastnameChild3' class='form-control child-info'}}
     <label for='birthdateChild3'>Birthdate:</label>
      {{input type='date' value=birthdateChild3 id='birthdateChild3' class='form-control childbirthdate'}}
    </div>


    <div class ="form-group-contacts">
     <label for='firstnameChild4'>Child's First Name:</label>
      {{input type='text' value=firstnameChild4 id='firstnameChild4' class='form-control child-info'}}
    <label for='lastnameChild4'>Last Name:</label>
     {{input type='text' value=lastnameChild4 id='lastnameChild4' class='form-control child-info'}}
     <label for='birthdateChild4'>Birthdate:</label>
      {{input type='date' value=birthdateChild4 id='birthdateChild4' class='form-control childbirthdate'}}
    </div>


      <button class='btn btn-primary' {{action 'save'}}>Add Contact Info</button>
  </form>
  </article>
</div>
