<p>Go here to {{link-to "Add News" "new_news" class='btn btn-primary header-btn'}}. Sharing is caring.</p>

  <article>
    <h2 class="section-title">News</h2>
    {{#each}}
    <div class='wrapper'>
      <h2 class='entry-title'>{{newsTitle}}</h2>
      <h3 class='news-output'>{{newsPost}}</h3>
      <div><img {{bind-attr src=newsimageURL}} /></div>

      <h3>{{link-to 'Edit' 'edit_news' this class='edit-link' classNames='btn btn-default'}}</h3>
    </div>
    {{/each}}
  </article>
