<h1>recipes</h1>

<p class="nav"> {{link-to "home" "index"}}</p>
<p class="nav"> {{link-to '+ new recipe' 'new_recipe'}}</p>

<ul>
 {{#each model}}
 <li>{{#link-to 'recipes' this}}{{this.id}}{{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}

<ul>
    {{#each}}
    <li class="vote">
      <article>
        <header>
          <h2>
        <div class="recipe-name">
        {{#link-to 'recipe' this tagName='h2'}} {{name}} {{/link-to}}
        </div>
          </h2>
        </header>
      </article>
    {{/each}}
  </ul>

  {{#with recipe}}
  <article>
    <h3>{{link-to 'edit' 'edit_recipe' this class='edit-link' classNames='btn btn-primary'}}</h3>
    <header>
      <h2>{{name}}</h2>
      <h4 class='category'>{{categoryName}}</h4>
    </header>
    <section>
      <img {{bind-attr src=imageURL}} class='centered' />
      <p class='description'>{{{markedDescription}}}</p>
      <h4 class="add-form"{{action 'toggleIngredients' on 'click'}}>
        {{ingredientCount}} Ingredients  <i {{bind-attr class=':glyphicon showIngredients:glyphicon-chevron-down:glyphicon-chevron-up'}}></i>
      </h4>
      {{#if showIngredients}}
      <ul>
        {{#each ingredient in splitIngredients}}
        <li>{{ingredient}}</li>
        {{/each}}
      </ul>
      {{/if}}
      <h4 class="add-form" {{action 'toggleDirections' on 'click'}}>
        {{directionCount}} Directions  <i {{bind-attr class=':glyphicon showDirections:glyphicon-chevron-down:glyphicon-chevron-up'}}></i>
      </h4>
      {{#if showDirections}}
      <ul>
        {{#each direction in splitDirections}}
        <li>{{direction}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </section>
      <button {{action 'destroy'}} class='btn btn-danger'>Delete Recipe</button>
  </article>
  {{/with}}

  {{#with recipe}}
  <article>
  <form role="form">
     <div class="form-group">
       <label for='name'>Name:</label>
       {{input type='text' value=name id='name' class='form-control'}}
     </div>
     <div class="form-group">
        <label for='description'>Description</label>
        {{input type='text' value=description id='description' class='form-control'}}
     </div>
     <div class="form-group">
        <label for='category'>Category</label>
        {{view "select" value=category content=Relativelyspeaking.CATEGORIES optionValuePath="content.id" optionLabelPath="content.name" classNames='form-control'}}
     </div>
     <div class="form-group">
       <label for='imageURL'>Image (URL):</label>
       {{input type='text' value=imageURL id='imageURL' class='form-control'}}
     </div>
    <div class="form-group">
      <label for='ingredients'>Ingredients:</label>
       {{input type='text' value=ingredients id='ingredients' class='form-control'}}
    </div>
    <div class ="form-group">
    <label for='directions'>Directions:</label>
       {{input type='text' value=directions id='directions' class='form-control'}}
    </div>
    {{yield}}
  </form>
  </article>
  {{/with}}

  {{#recipe-form recipe=this}}
  <button {{action "save"}} class='btn btn-primary'>Submit New Recipe</button>
  {{/recipe-form}}
  </script>
  <script type="text/x-handlebars" id="edit_recipe">

  {{#recipe-form recipe=this}}
  <button {{action 'update'}} class='btn btn-primary'>Update Recipe</button>
  {{/recipe-form}}
