<p>Our family loves to eat. Add a {{link-to "New Recipe" "new_recipe" class='btn btn-primary header-btn'}} for us to try.</p>

{{#each}}
  <article>
      <h2>{{recipeName}}</h2>
      <h4 class='category'>{{category}}</h4>
    <section>
      <img {{bind-attr src=imageURL}} class='centered' />
      <h4 class="add-form"{{action 'toggleIngredients' on 'click'}}>
        {{ingredientCount}} Ingredients <i {{bind-attr class=':glyphicon showIngredients:glyphicon-chevron-down:glyphicon-chevron-up'}}></i>
      </h4>
      {{#if showIngredients}}
      <ul>
        {{#each ingredient in splitIngredients}}
        <li>{{ingredient}}</li>
        {{/each}}
      </ul>
      {{/if}}
      <h4 class="add-form" {{action 'toggleDirections' on 'click'}}>
        {{directionCount}} Directions <i {{bind-attr class=':glyphicon showDirections:glyphicon-chevron-down:glyphicon-chevron-up'}}></i>
      </h4>
      {{#if showDirections}}
      <ul>
        {{#each direction in splitDirections}}
        <li>{{direction}}</li>
        <h3>{{link-to 'Edit' 'edit_recipe' this class='edit-link' classNames='btn btn-primary'}}</h3>
        {{/each}}
      </ul>
      {{/if}}
    </section>

  </article>
{{/each}}
